#sz100tools li {display: inline-block; width:11em;}
/* #sz100tools li::before {content: "   -   ";} */
/* #sz100tools li:first-child::before {content: "";} */
#toggleHelp,
#sz100tools li a {border: solid 1px; padding: 4px 2px 2px 2px; border-radius: 4px;}

#szHidden {display: none;}
#szDisplay {background:#222;}
#szDisplay:fullscreen,
#szDisplay:-ms-fullscreen,
#szDisplay:-moz-full-screen,
#szDisplay:-webkit-full-screen {width:100vw; height:100vh;}

#lunettes {}
#yeux { background: url('patience.png') -550px 0px; display: flex; height:auto; }
#vue_droite, #vue_gauche{ flex: auto; cursor: pointer,hand; }


#z_yeux { display: flex; height:100%;}
#z_vue_droite, #z_vue_gauche{ flex: auto; cursor: grab; background-repeat: no-repeat;}
#z_vue_droite, #z_vue_gauche{ font-size: 2vh; line-height: 10vh;}


/* Help */
#szHelpDiv {
	text-align: left;
	max-height: 50vh;
	overflow-y: scroll;
	padding-left: 1em;
	padding-right: 1em;
}
#szHelpDiv dl dt,
#szHelpDiv dl dd {
	display: block;
	margin: 1em;
}
#szHelpDiv dl dt {
	margin-bottom: 0em;
}
#szHelpDiv dl dd {
	margin-top: 0em;
	margin-left: 2em;
}
#szHelpDiv dl dt {
	font-weight: bold;
}
#szHelpDiv dl dt,
#szHelpDiv dl dd {
    color: inherit;
}
